body{
	margin: 0;
	padding: 0;
	background: #5CDB95;
}

#header{
	padding: 20px;
}

#footer{
	padding: 20px;
	text-align: right;
}

.header a{
	border: solid rgb(0, 0, 0);
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: black;
}

#left {
	text-align: left;
	color: #05386B;
	text-decoration: none;
}

#right {
	text-align: right;
	color: #EDF5E1;
	text-decoration: none;
	;
}

.h {
	border: 0.1vw solid#05386B;
	width: 100vw;
}

.f {
	border: 0.1vw solid#05386B;
	width: 100vw;
}
#video {
	width: 20vw;
	height: 20vw;
}