a {
	text-decoration: none;
	color: #05386B;
}

body {
	margin: 0;
	padding: 0;
	background: #5CDB95;
}

#header {
	padding: 20px;
}

#footer {
	padding: 20px;
	text-align: right;
}

.header a {
	border: solid rgb(0, 0, 0);
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: black;
}

#blue {
	text-align: left;
	color: #05386B;
	text-decoration: none;
}

#white {
	text-align: right;
	color: #EDF5E1;
	text-decoration: none;
	;
}

.h {
	border: 0.1vw solid#05386B;
	width: 100vw;
}

.f {
	border: 0.1vw solid#05386B;
	width: 100vw;
}
#video {
	width: 20vw;
	height: 20vw;
}
.img {
	border: 0.5vmax solid #05386B;
	border-radius: 1%;
	background: no-repeat;
	background-size: cover;
	height: 15vmax;
	width: 15vmax;
}
button {
	text-decoration: none;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #379683;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #8EE4AF;
	transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #05386B;
}

input:focus + .slider {
	box-shadow: 0 0 1px #05386B;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.nav_bar {
	justify-content: space-evenly;
	display: flex;
}
.log_nav {
	justify-content: space-evenly;
	display: flex;
}
.camera {
	display: flex;
	justify-content: center;
}
.sticks {
	width: 7.5vw;
	height: 7.5vw;
}
.stickers {
	display: flex;
	justify-content: space-evenly;
}
#display_canvas {
	width: 20vw;
	height: 15vw;
	display: none;
	/* position: absolute; */
}
#sticks_canvas {
	width: 20vw;
	height: 20vw;
	display: none;
	top: 0;
	left: 0;
	position: absolute;
}
.overlap {
	position: relative;
}